@model PaginatedList<ContosoUniversity.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a class="btn btn-sm btn-success site-left site-btn" asp-action="Create">Add Student</a>

<form class="site-right" asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Student Name: 
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="site-search" placeholder="e.g. Alex"/>
            <input type="submit" value="Search" class="btn btn-sm btn-outline-primary" /> |
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="btn btn-sm btn-outline-secondary" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a class="btn btn-sm btn-outline-secondary" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Enrollment Date</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td class="site-right">
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.StudentID">Edit</a> |
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.StudentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-sm btn-outline-secondary btn-arrow-left @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-sm btn-outline-secondary btn-arrow-right @nextDisabled">
    Next 
</a>